
<div class="search-container">
  <input [(ngModel)]="location" placeholder="Enter location" />
  <button (click)="getWeather()">Search</button>
</div>

<div *ngIf="weatherData && location" class="weather-container">
  <div class="weather-header">
    <div class="header-title">{{weatherData.location.name}}, <span>{{weatherData.location.region}}</span> </div>
    <div class="header-time">{{ weatherData.location.localtime | date:'shortTime' }}</div>
  </div>
  <div class="weather-main">
    <div class="main-left">
      <div class="temperature">
        {{ weatherData.current.temp_c }}°C
      </div>
      <img [src]="weatherData.current.condition.icon" alt="Weather icon">
    </div>
    <div class="main-right">
      <div class="weather-detail">
        <p class="agt">Wind: {{ weatherData.current.wind_kph }} km/h</p>
        <p class="agt">Latitude: {{ weatherData.location.lat }}</p>
        <p class="agt">Longitude: {{ weatherData.location.lon }}</p>
        <p class="agt">Air Quality: <span class="air-quality">{{ weatherData.current.condition.text }}</span></p>
      </div>
    </div>
  </div>
</div>

<div class="loader" *ngIf="!location"></div>

<div *ngIf="forecastData && location" class="forecast-container">
  <h2 class="forecast-title">14-Day Forecast for {{ weatherData.location.name }}</h2>
  <div class="table-responsive">
    <table class="forecast-table">
      <thead>
        <tr class="first-row-image">
          <th>Date</th>
          <th>Condition</th>
          <th>City</th>
          <th>Max Temp (°C)</th>
          <th>Min Temp (°C)</th>
          <th>Humidity (%)</th>
          <th>Wind Speed (kph)</th>
          <th>Latitude</th>
          <th>Longitude</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let day of forecastData">
          <td>{{ day.date }}</td>
          <td>
            <img [src]="day.day.condition.icon" alt="Weather icon" class="weather-icon">
            {{ day.day.condition.text }}
          </td>
          <td>{{weatherData.location.name}}</td>
          <td>{{ day.day.maxtemp_c }}</td>
          <td>{{ day.day.mintemp_c }}</td>
          <td>{{ day.day.avghumidity }}</td>
          <td>{{ day.day.maxwind_kph }}</td>
          <td>{{ weatherData.location.lat }}</td>
          <td>{{ weatherData.location.lon}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="loader" *ngIf="!weatherData && !forecastData"></div>
